
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Space Mono', sans-serif;
}

body{
   background-color:hsl(185, 41%, 84%);
 
}
.main{
    width: 100%;
    display: flex;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
}
.container{
    align-self: center;
    width: 40rem;
    height: 22rem;
    display: flex;
    background-color: white;
    border-radius: 15px;
}
.first-column{
    width: 50%;
    height: 100%;
    margin: 1.5rem;
}
.dollar input{
    width: 95%;
    display: flex;
    padding: 0.5rem;
    border-radius: 8px;
    border: none;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    background-image: url(/tip-calculator-app-main/images/icon-dollar.svg);
    background-position: 10px 15px; 
    background-color:hsl(189, 41%, 97%);
    border-radius:4px;
    text-align: right;
    margin-top: 0.5rem;
    color: hsl(183, 100%, 15%);
}
.bill{
    color: hsl(186, 14%, 43%);
}
.btn{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    max-width: 100%;
}
.tip{
    width: 4.5rem;
    background-color: hsl(183, 100%, 15%);
    border: none;
    margin: 0.5rem;
    color: white;
    height:2rem ;
    border-radius: 5px;
}
.number input{
    background-image: url(/tip-calculator-app-main/images/icon-person.svg);
    width: 95%;
    display: flex;
    padding: 0.5rem;
    border-radius: 8px;
    border: none;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    background-position: 10px 15px; 
    background-color:hsl(189, 41%, 97%);
    border-radius:4px;
    text-align: right;
    margin-top: 0.5rem;
    color: hsl(183, 100%, 15%);
}
.background{
    width: 18.5rem;
    height:18.5rem ;
   margin: 1rem 1rem;
   background-color:hsl(183, 100%, 15%) ; 
   border-radius: 5px;
   display: flex;
   flex-direction: column;
}
.person-tip {
margin: 1rem 1rem 0rem 1rem ;
padding-top: 2rem;
display: flex;
justify-content: space-between;
}
.person-tip p{
    color: white;
    font-size: 1rem;

}
.person-tip p span{
    font-size: small;
    color:hsl(185, 41%, 84%)
}
h3{ 
    color:hsl(172, 67%, 45%);
    font-size: 2rem;
}
.reset{
    background-color:hsl(172, 67%, 45%) ;
    border: none;
    color:hsl(183, 100%, 15%)  ;
    width: 90%;
   margin:2rem auto;
   padding: 0.4rem;
   border-radius: 4px;
   font-size: 1rem;
}
.warning{
    color: red;
 text-align: end;
 display: none; 
 font-size: 0.75rem;
 flex-direction: column;
 top: 0;

}

button:hover, .active:hover{
    background-color:hsl(172, 67%, 45%) ;
    color: hsl(183, 100%, 15%);
}

.custom{
  color: white;
  width: 4.5rem;
  background-color: hsl(183, 100%, 15%);
  border: none;
  /* margin: 0.5rem; */
  color: white;
  height:2rem ;
  border-radius: 5px;

}
.attribution{
    margin-top: 0.5rem;
}

.heading{
    display: flex;
    margin: 0.75rem auto;
    color:hsl(183, 100%, 15%);
    
}
@media only screen and (max-width: 600px) {
.container{
    flex-direction: column;
    width: 100%;
    height: 100vh;
    margin-top: 0;
}
.first-column{
    width: 90%;
    height: 100%;
    margin: 1.5rem;
}
.background{
    width: 90%;
    margin-top: 0;
}

}
